:root {
  font-family: 'Nunito Sans', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors */
  --color-primary: #1574F5;
  --color-text: #0A3847;
}


:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

